.background-img {
  background-image: url("../../../../assets/images/register-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form-style {
  background-color: white;
}
.view-height {
  height: 90vh;
}
h1 {
  color: red;
}
:host ::ng-deep .ui-datepicker {
  z-index: 99999999999 !important;
}
