.background-img {
  background-image: url("../../../../assets/images/register-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form-style {
  // background: linear-gradient(to right, #e6d7b6, #eec2a2);
  // background: linear-gradient(to right, #aeb084, #bbbc9c);
  // background: linear-gradient(to right, #d6b995, #d6b792);
  // background: linear-gradient(to right, #e0c8b1, #d9c4b5);
  background-color: white;
}
.view-height {
  height: 90vh;
}
h1 {
  color: red;
}
