<div class=" background-img">
    <div class="d-flex justify-content-center py-5">
        <p-fieldset legend={{recipeDetails.title}}>
            <div class="d-flex justify-content-center">
                <img [src]="recipeDetails.image_url" class="rounded w-100 " alt="Food-Image">
            </div>
            
            <div class="my-4">
                <h4>ingredients</h4>
                <div *ngFor="let ingredient of recipeDetails.ingredients">
                    <p>{{ingredient}}</p>
                </div>
                <hr>
                <h5>Information</h5>
                <p>publisher: {{recipeDetails.publisher}}</p>
                <div class="links d-flex ">
                    <a [href]="recipeDetails.publisher_url" class="btn btn-danger mt-3">publisher_url</a>
                    <a [href]="recipeDetails.source_url" class="btn btn-danger mx-4 mt-3">source_url</a>
                </div>
            </div>
        </p-fieldset>
    </div>
    
</div>