<section>
  <!-- search form -->
  <div class="background-img">
    <div class="container-fluid w-25">
      <form class="d-flex py-5" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>
  </div>

  <!--Browse Categories  -->
  <div class="container py-5">
    <h3>Browse By Categories</h3>
    <div class="BrawseCategoriesButtons d-flex my-4">
      <div class="CategoryRouter me-4 text-center">
        <a routerLink="/food">
          <img src="../../../assets/images/pizza.jpg" alt="pizza" />
          <p class="my-3">Pizza</p>
        </a>
      </div>
      <div class="CategoryRouter me-4 text-center">
        <a routerLink="/food">
          <img src="../../../assets/images/salad.jpg" alt="salad" />
          <p class="my-3">Salad</p>
        </a>
      </div>
      <div class="CategoryRouter me-4 text-center">
        <a routerLink="/food">
          <img src="../../../assets/images/beef.jpg" alt="beef" />
          <p class="my-3">Beef</p>
        </a>
      </div>
    </div>
  </div>
</section>
