.background-img {
  background-image: url("../../../../assets/images/background-auth.jpg");
  height: 89.8vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form-style {
  background: linear-gradient(to right, #cfa573, #e3c2ac);
  opacity: 0.96;
}
.test {
  height: 80vh;
}
input {
  background-color: #d8dcdf;
}
h1 {
  color: #f8efd6;
}
