.background-img {
  background-image: url("../../../../assets/images/login-background.jpg");
  height: 89.8vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form-style {
  color: white;
  opacity: 0.96;
}
.view-height {
  height: 80vh;
}
