<p-card styleClass="p-card-shadow">
  <ng-template pTemplate="header">
    <img alt="Card" [src]="foodData.image_url" class="rounded"/>
  </ng-template>
  <div class="card-data">
    <h5>{{ foodData.title }}</h5>
    <h6 class="my-4">{{ foodData.publisher }}</h6>

  </div>
  <ng-template pTemplate="footer">
    <div class="d-flex justify-content-between">
        <p class="my-auto">Rate: {{ foodData.social_rank }}%</p>
        <!-- <p-button icon="pi pi-bookmark-fill" styleClass="favButton"></p-button> -->
        <button pButton pRipple type="button" class="p-button-raised p-button-danger" icon="pi pi-bookmark-fill"></button>
    </div>
  </ng-template>
</p-card>



