:host ::ng-deep .p-card{
    box-shadow: 5px 10px 18px #888888;
    height: 550px;
}
:host ::ng-deep .p-button {
  background-color: #ea4645;
  border: none;
}
img {
  height: 300px;
}
.card-data{
    height: 100px;
}
