<nav class="navbar navbar-expand-lg bg-light navbar-light sticky-top">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/">
      <figure class="d-inline m-0">
        <img
          src="assets/icons/icon-72x72.png"
          alt="Logo"
          class="img-fluid logo-img"
        />
      </figure>
      <span class="d-inline-block">&nbsp; Yummy🍽Taste</span>
    </a>
    <!-- Responsive button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- Recipes -->
        <li
          class="nav-item mx-2 d-flex justify-content-center align-items-center red-hover"
        >
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/food"
            routerLinkActive="active"
          >
            <b>Recipes</b>
          </a>
        </li>
        <!-- Favorites -->
        <li
          class="nav-item ms-2 me-3 d-flex justify-content-center align-items-center"
        >
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/food/fav-list"
            routerLinkActive="active"
          >
            <i
              class="pi pi-bookmark-fill mr-3 p-text-secondary fs-4"
              pBadge
              severity="danger"
              [value]="
                (favouritesCount | async)?.favourites?.length?.toString()!
              "
            ></i
          ></a>
        </li>
        <!-- User button -->
        <li
          class="nav-item mx-2 d-flex justify-content-center align-items-center"
        >
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-user"
            class="p-button-rounded p-button p-button-danger"
            (click)="menu.toggle($event)"
          ></button>
          <p-menu #menu [popup]="true" [model]="items"></p-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>
