<div class="container">
  <div class="card my-5">
    <p-tabView (onChange)="onTapChange($event.index)" styleClass="tabViewList">

      <p-tabPanel header="Pizza" [selected]="true">

        <div class="row pt-4">
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 my-4" *ngFor="let recipe of foodRecipiesFromStore">
            <app-foodcard [foodData]="recipe"></app-foodcard>
          </div>
        </div>

      </p-tabPanel>

      <p-tabPanel header="Salad">

        <div class="row pt-4">
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 my-4" *ngFor="let recipe of foodRecipiesFromStore">
            <app-foodcard [foodData]="recipe"></app-foodcard>
          </div>
        </div>

      </p-tabPanel>

      <p-tabPanel header="Beef">

        <div class="row pt-4">
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 my-4" *ngFor="let recipe of foodRecipiesFromStore">
            <app-foodcard [foodData]="recipe"></app-foodcard>
          </div>
        </div>

      </p-tabPanel>

    </p-tabView>
  </div>
</div>